ExampleSSIS/ExampleSSIS/bin/Development/ExampleSSIS.ispac
ExampleSSIS/ExampleSSIS/obj/Development/BuildLog.xml
ExampleSSIS/ExampleSSIS/obj/Development/ExampleSSIS.dtproj
ExampleSSIS/ExampleSSIS/obj/Development/Project.params
ExampleSSIS/ExampleSSIS/obj/Development/Package.dtsx